@import 'https://fonts.googleapis.com/css?family=Slabo+27px';
@import "hocus-pocus/scss/colors";

$rwd-type: desktop-first;
$rwd-map: (mobile: 480px, tablet: 720px, desktop: 1201px);

$grid-container: 70rem;
$ui-border-radius: 25px;
$spacing-unit: 2em;
$vertical-align-body: 16 !default;

$navbar-background: transparent;
$navbar-link-background: $color-black;
$navbar-link-color: $color-black;
$navbar-color: $color-grey;
$sticky-footer-height: 200px;

$font-leading: 1.4;
$font-family-base: 'Slabo 27px', serif;
$font-size-micro: 14 !default;
$font-size-small: 16 !default;
$font-size-base: 18 !default;
$font-size-lead: 20 !default;
$font-size-btn: $font-size-base !default;

$sticky-footer-height: 6em;

$spacing-map: (
  'quarter': quarter($spacing-unit),
  'third': third($spacing-unit),
  'half': halve($spacing-unit),
  'double': double($spacing-unit),
  'triple': triple($spacing-unit),
  'quadruple': quadruple($spacing-unit)
);

@import "hocus-pocus";

body {
  background-image: url(asset-path("background-image.png"));
}

.logo {
  padding: 25px;
  @include img-replace(asset-path('board-and-roll-logo.svg'), 200px, 40px);
}

.sticky-footer {
  background-color: black;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  clear: both;
  overflow-x: hidden;
}

a:link {
  text-decoration: none;
}

.event-buttons {
  margin-bottom: quater($spacing-unit);
  padding-top: quater($spacing-unit);
  padding-bottom: quater($spacing-unit);

  > .container > .grid > .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
}

.text-field {
  margin: 0.5em;
  margin-left: 1em;
}
