 @import "_defaults.scss";

 $link-color: $color-black;

.contact-mail {
  padding: 5px;
}

.contact-mail:hover {
  background-color: $color-black;
  border-radius: $ui-border-radius;
}

.list-menu {
  max-width: 200px;
}
