 @import "_defaults.scss";

 $link-color: $color-black;

a {
  text-decoration: none;
  color: $color-black;
}

.contact-mail {
  padding: 5px;
}

.contact-mail:hover {
  background-color: $color-black;
  border-radius: 25px;
}

a:hover {
  color: $color-white;
}

.list-menu {
  max-width: 200px;
}

.menu-item:hover {
  background-color: $color-black !important;
}
