@import "_defaults.scss";

.padding-bottom {
  padding-bottom: 20px;
}

textarea {
    resize: none;
}

.margin-top {
  margin-top: 10px;
}

.comment-holder {
  margin-top: 20px;
}

.time-margin {
  float: right;
}
