@import "_defaults.scss";

.box-positive {
  padding-left: 5px;
}

.filter-holder {
  margin-top: 10px;
  margin-left: 80px;
  margin-bottom: 0px;
}

#filter {
  border-radius: 25px;
  margin-bottom: 0px;
}
